:root{
  --sb-blue-300:#045fd7;
  --sb-blue-200:#1eb7e6;
  --sb-blue-100:#8ab8d1e4;
  --sb-blue-50:#71aee6c0;
  --sb-gray-hover:#cbcaca3b;
  --sb-gray-fade: #ffffff2e;
  --sb-fluide-white: #ececec2b;
  --sb-icon:#4d8bff4f;
  --sb-blue-250:#0079bf;
  --sb-orange-fade-1: #f5e8de8e;
  --sb-orange-fade-2: #fad6ba8c;
  --sb-blue-fade-1:#cce0fba4;
  --sb-blue-fade-2:#afcbff; 
  --sb-gray-fade-2:#e8e8e870;
  --sb-blue-fade-3: #0819971d;
  --sb-blue-fade-4: #083ccb14;
}

*{
  scrollbar-width: none;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.scrollbar-none{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar{
  display: none;
}
body{
  margin:0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(180deg, #e1f4fb , white );
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
button{
  cursor: pointer;
}
.elongation{
    animation: elongate 1s ease-in-out forwards;
}
.elongation-reversed{
    animation: elongate 1s ease-in-out forwards reverse;
}
.sizing-animation{
  animation: sizing 2s ease-in-out forwards;
}
.css-1014916-MuiPickersInputBase-root-MuiPickersOutlinedInput-root{
  border-radius: 10px!important;
  padding-block: 0px!important;
}
.css-1014916-MuiPickersInputBase-root-MuiPickersOutlinedInput-root div{
  padding-block: 10px!important;
}
.css-1ysp02-MuiButtonBase-root-MuiIconButton-root{
  transform: scale(90%);
}
@keyframes sizing {
  to{
    height: 100%;
  }
}
.opacity-animation{
  animation: opacity .2s ease-in-out forwards;
}
@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes elongate {
  0%{
    width: 24px;
    color: transparent;
  }
  100%{
    width: 200px;
    color: white;
  }
}

.slide-left{
  animation: slide-left .4s forwards ease-in-out;
}

@keyframes slide-left {
  from{
    transform: translateX(20px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

